<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css" />
</head>
<body>
    <main>
        <div class="head">
            <span ><p class="back"><</p></span>
            <p>LOG IN</p>
        </div>
        

        <div class="sub-head">
            <p class="sub-head">Please log in to your account</p>
    
            <hr>
        </div>
    
        <section class="mid-page">
            <form>
                <div class="form-input">
                    <p>enter your mobile number*</p>
            
                    <input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="800-768-9087" required />
                </div>
                <div class="form-input">
                    <p>Password*</p>
                    <input type="password" name="password" placeholder="Please enter your password here" required />
                </div>
    
                <p class="forgot">Forgot Password?</p>
            </form>
        </section>
    
        <button class="login-button">Log In</button>
    </main>
</body>
</html>

