<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="myProfile.css" />
</head>
<body>
    <main>
        <div class="head">
            <p>SHOPBOP</p>
            <span>
                <p class="notification">MyImage</p>
            </span>
        </div>
    <!--
        <section class="slideshow">
            <div class="slideshow1">
                <img src="{{url_for('static', filename='images/guitar1.jpg')}}" class="active">
                <img src="{{url_for('static', filename='images/guitar2.jpg')}}">
                <img src="{{url_for('static', filename='images/mum.jpeg')}}">
                <img src="{{url_for('static', filename='images/guitar6.jpg')}}">
            </div>
        </section> -->
        
        

        <footer class="footer">
            <ul>
                <li>Home</li>
                <li>Tasks</li>
                <li>Orders</li>
                <li>My Profile</li>
            </ul>
        </footer>
    </main>
</body>
</html>

