<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="register.css" />
</head>
<body>
    <main class="main">
        <div class="head">
            <span><p id="langue">Select Language</p></span>
            <p id="image">My logo</p>
        </div>
    
        <section class="mid-page">
            <h1 id="head">shopbop</h1>
            <div class="login-form">
                <form>
                    <p>Please log in or create your account</p>
                    <button class="login-button">Log in</button>
                    <button class="create-button">Create an account</button>
                </form>
            </div>
        </section>
    
        <footer>
            <p class="footer">About Shopbob</p>
        </footer>
    </main>
</body>
</html>

